<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/game.css">
</head>
<%-include('nav')%>
<body>
    <div class="contain">
        <div class="area">
            <h2><%=data.name%></h2>
            <div id="area" class="game_area">
                <h1 id="start" style="opacity: 1;transition: 0.25s;">
                Duck game!!</h1>
                <h1 id="win" style="opacity: 0; transition: 0.25s;">Winner</h1>
            </div>
        </div>
        <button id="btn_start" style="transition: 0.25s;" onclick="run()">Start</button>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            let socket = io();
    const area = document.getElementById('area');
const srt =document.getElementById('start');
const wn = document.getElementById('win');
const btn_start = document.getElementById('btn_start');

const random=(min,max)=>{
    return Math.floor(Math.random() * (max - min + 1) + min)
}

const creat =(amt)=>{
    console.log(amt)
    const {left,top,bottom,right}=area.getBoundingClientRect()
    console.log(left,right,top,bottom)
     return [...Array(amt)].map(()=>{
        return{
            x:random(left,right-20),
            y:bottom-20,
            speedX:random(-10,10),
            speedY:random(5,10)
        }
    })
}

const creatElem=(duck)=>{
    const duckelem = document.createElement('div')
    duckelem.className = "duck";
    duckelem.style.left =`${duck.x}px`
    duckelem.style.top =`${duck.y}px`
    area.appendChild(duckelem);
    return {duck,duckelem};
}

const chang_img=(duck,duckelem)=>{
    const direc = duck.speedX<0?"left":"right";
    return duckelem.style.backgroundImage.indexOf('1') !==-1?
    `url(img/${direc}_2.png)`:
    `url(img/${direc}_1.png)`
}

function move(duck,duckelem){
    const {left,right,top,bottom} = area.getBoundingClientRect();
     if(duck.x < left||duck.x > right-20){
        duck.speedX*=-1;
    } if(duck.y > bottom-20||duck.y < top){
        duck.speedY*=-1;
    }
    duck.x += duck.speedX;
    duck.y -= duck.speedY;

    duckelem.style.left =`${duck.x}px`;
    duckelem.style.top =`${duck.y}px`;

    duckelem.style.backgroundImage = chang_img(duck,duckelem);
}

function click(even){
   const {bottom} = area.getBoundingClientRect();
    const duckelem = even.target;
    clearInterval(duckelem.intval);
    duckelem.style.transition='2s top'
    duckelem.style.top = `${bottom-20}px`;

    setTimeout(()=>{        
        const duck = document.getElementsByClassName('duck');
        area.removeChild(duckelem);
        console.log(duck)
        console.log(duck.length)
        if(duck.length===0){
            console.log('winner')
            wn.style.opacity = '1';
            btn_start.style.opacity = '1';
        }
    },2000)
}


function run(){
    socket.emit('amout',null);
    socket.on('duck',data=>{
    srt.style.opacity = '0';
    btn_start.style.opacity = '0';
    //ถึงตรงนี้โอเต๊ไอ่amoutมันundefind
    console.log(data.amout)
    let duck = creat(data.amout);
    let duckelem = duck.map(creatElem);
    duckelem.forEach(({duck,duckelem})=>{
        duckelem.intval=setInterval(()=>{
            move(duck,duckelem);
        },100)
        duckelem.addEventListener('click',click);
    })
    })
}

        </script>
    </div>
</body>
</html>