<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <form action="login" method="post" enctype="multipart/form-data">
       <div class="upload">
            <h1 style="color: orange;">login</h1>
            <div class="profile">
                <img src="img/annoprofile.jpg" width="100" height="100" alt="">
                <div class="profile_upload">
                    <input type="file" name="img">
                    <i class="fa fa-camera" style="color:#000"></i>
                </div>
            </div>
            <div class="inputData">
                <input id="username" name="name" type="text" placeholder="username">
                <input name="password" type="password" placeholder="pasword">
                <input type="submit" value="Login">
            </div>
        </div>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io()
        socket.emit('test',{
            test:"test"
        })
    </script>
</body>
</html>