<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/setgame.css">
</head>
<body>
    <div class="login-box">
        <h2>Edit game</h2>
        <form action="editgame" method="post" enctype="multipart/form-data">
            <div class="user-box">
                <input type="number" value="<%=data.amout%>" name='amout'>
               <label for="number">Number</label>
            </div>
            <button>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    SUBMIT
            </button>
        </form>
    </div>
</body>
</html>